<mat-list>
    <mat-list-item *ngFor="let channel of channels, let i=index">
        <span class="channel-tittle" matLine>Channel {{ channel.Id }} </span>
        <span *ngIf="channel.Id != selectedChannel; else edit" matLine>URL: {{ channel.Url }} </span>
        <ng-template #edit>
            <div class="container-row">
                <mat-form-field class="urlContainer" matLine appearance="standart" color="primary">
                    <mat-label>Ingrese la nueva URL</mat-label>
                    <input type="url" id="channelId" [value]="channel.Url" (keyup.enter)="onChangeUrl(channel, newUrl)" #newUrl
                        matInput>
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="onChangeUrl(channel, newUrl)">Guardar</button>
                <button mat-stroked-button color="warn" (click)="selectedChannel = null">Cancelar</button>
            </div>
        </ng-template>
        <button mat-button color="primary" (click)="onEnableEdition(channel.Id)"
            *ngIf="channel.Id != selectedChannel">Cambiar Url</button>
        <button (click)="onRemove(channel.Id)" mat-button color="warn">Eliminar</button>
        <button mat-button (click)="onOpenUrl(i)">Abrir</button>
        <mat-checkbox></mat-checkbox>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>