<div style="background: inherit;" class="container-column">
    <header class="column-item">
        <app-mod-header (isDarkTheme)="setTheme($event)"></app-mod-header>
    </header>
    <div class="column-item container-row">
        <section class="container container-column row-item-60">
            <app-navigator-bar></app-navigator-bar>
            <!--
            <mat-toolbar>
                <button mat-button [routerLink] = "['/playlists']" [disabled] = 'isHome()'>
                    <mat-icon>arrow_back</mat-icon></button>
                <span class="spacer"></span>
                <button mat-button *ngIf="isHome(); else addAction" 
                [disabled] = "false"
                ><mat-icon>playlist_add</mat-icon>Agregar Lista</button>
                <ng-template #addAction>
                    <button mat-button><mat-icon>add</mat-icon>Agregar Canal</button>
                </ng-template>
            </mat-toolbar>
            -->
            <div [@routeAnimation]="getAnimationData(routerOutlet)">
                <router-outlet #routerOutlet="outlet"></router-outlet>
            </div>
            <!--
            <app-mod-iptv-list (enableChannelEditor) = "enableEditChannel = $event" [hidden] = "enableEditChannel"
                                (enablePlaylistEditor) = "enableEditPlaylist = $event"
                                ></app-mod-iptv-list>
            <app-channel-editor [hidden] = "!enableEditChannel"
                                ></app-channel-editor>-->
        </section>
        <aside class="row-item-40 pall-1">
            <app-task-list></app-task-list>
        </aside>
    </div>
    <footer class="column-item">
        <app-mod-footer></app-mod-footer>
    </footer>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->