<div class="container-column">
    <header class = "column-item">
        <app-mod-header></app-mod-header>
    </header>
    <div class = "column-item container-row">
        <section class="container container-column row-item-60">
            <app-navigator-bar></app-navigator-bar>
            <!--
            <mat-toolbar>
                <button mat-button [routerLink] = "['/playlists']" [disabled] = 'isHome()'>
                    <mat-icon>arrow_back</mat-icon></button>
                <span class="spacer"></span>
                <button mat-button *ngIf="isHome(); else addAction" 
                [disabled] = "false"
                ><mat-icon>playlist_add</mat-icon>Agregar Lista</button>
                <ng-template #addAction>
                    <button mat-button><mat-icon>add</mat-icon>Agregar Canal</button>
                </ng-template>
            </mat-toolbar>
            -->
            <router-outlet ></router-outlet>
            <!--
            <app-mod-iptv-list (enableChannelEditor) = "enableEditChannel = $event" [hidden] = "enableEditChannel"
                                (enablePlaylistEditor) = "enableEditPlaylist = $event"
                                ></app-mod-iptv-list>
            <app-channel-editor [hidden] = "!enableEditChannel"
                                ></app-channel-editor>-->
        </section>
        <aside class = "row-item-40">
            <router-outlet name="aside"></router-outlet>
            
            <section>
                <p>Selecciones una lista</p>
                <p>Editar: Modificar aspectos de la lista.</p>
                <p>Gestionar: Ver y Modificar el listado de canales de la lista.</p>
                <p>Info: Mostrar información de la lista.</p>
                <p><mat-icon>cloud_download</mat-icon>: Descargar la lista en .m3u</p>
            </section>
        </aside>
    </div>
    <footer class = "column-item">
        <app-mod-footer></app-mod-footer>
    </footer>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


