/*
input::placeholder {
    color:rgb(100,100,100);
}*/
@media screen and (min-width: 1px) {
    .showMobileMenu {
        display: inherit;
    }
    .showLgButtons{
        display: none;
    }
}
@media screen and (min-width: 960px) {
    .showMobileMenu {
        display: none;
    }
    .showLgButtons{
        display: inherit;
    }
}