<div class="container-column pall-1">
    <router-outlet></router-outlet>
    <div *ngFor="let playlist of playlists" class="container-row content-spaced content-wrap ptb-1">
        <section class="container-column">
            <div *ngIf="playlist.Id != selectedPlaylist; else form" class="container-column">
                <span style="cursor: pointer" class="mat-title m-reset" (click)="onEditChannel(playlist)">{{playlist.Name}}</span>
                <span class="mat-caption"> Cantidad de canales canales:
                    {{playlist.Items}}</span>
            </div>
            <ng-template #form>
                <form matLine>
                    <mat-form-field >
                        <mat-label>Nombre de la Lista</mat-label>
                        <input type="text" id="name" name="name" placeholder="Ingrese el nombre de la Lista."
                            [(ngModel)]="nameInput" matInput>
                    </mat-form-field>
                    <button mat-button class="ml-1" type="submit" (click)="onSavePlaylist(playlist)">
                        <mat-icon>save</mat-icon> Guardar
                    </button>
                </form>
            </ng-template>
        </section>
        <section class="showLgButtons container-row content-align-center">
            <button mat-raised-button class="mr-1" color="primary" (click)="onEditPlaylist(playlist)"
                [disabled]="playlist.Id == selectedPlaylist">Editar</button>
            <button class="mr-1" mat-raised-button color="warn" (click)="onEditChannel(playlist)">Abrir</button>
            <button class="mr-1" [disabled]="true" mat-raised-button>
                <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-icon-button (click)="onDelete(playlist.Id)">
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </section>
        <section class="showMobileMenu">
            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onEditPlaylist(playlist)"><mat-icon>edit</mat-icon>Editar</button>
                <button mat-menu-item (click)="onDelete(playlist.Id)"><mat-icon color="warn">delete</mat-icon>Eliminar</button>
                <button mat-menu-item (click)="onEditChannel(playlist)"><mat-icon>folder_open</mat-icon> Abrir</button>
            </mat-menu>

        </section>
        
    </div>
</div>