.mat-button-config{
    margin: 1%;
}
.mat-input-resize {
    font-size: 0.8em;
}
.playlist-name-style{
    font-weight: 500 !important;
}
.playlist-description {
    font-weight: lighter !important;
    font-size: 0.8em !important;
}
