.mat-button-config{
    margin: 1%;
}
.playlist-name-style{
    font-weight: 500 !important;
    color: #ececec;
}
.playlist-description {
    font-weight: lighter !important;
    color: #cecece;
    font-size: 0.8em !important;
}
