<div class="container-column">
  <span class="form-title">Crear nueva lista en blanco</span>
  <form class="container-column">

    <mat-form-field appearance="fill" color="warn">
      <mat-label for="id">ID</mat-label>
      <input type="number" id="id" name="id" [(ngModel)]="changedPlaylist.Id" matInput>
      <mat-hint>Value</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="name">NOMBRE</mat-label>
      <input type="text" id="name" name="name" placeholder="Ingrese el nombre de la Lista."
      [(ngModel)]="changedPlaylist.Name" matInput>
    </mat-form-field>

    <div class="container-row">
      <button mat-flat-button color="primary" (click)="setPlaylist()">Guardar</button>
      <button mat-flat-button color="accent" (click)="onCancel()">Descartar</button>
    </div>
  </form>
</div>