/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pointer {
    cursor: pointer;
}
/* fix overlayContainer background */
.cdk-overlay-container {
    background: transparent !important;
}
/* CONTAINER */ 
.container-column{
    display: flex;
    flex-direction: column;
}
.container-row{
    display: flex;
    flex-direction: row;
}
.container-wrap{
    flex-wrap: wrap;
}
.content-spaced {
    justify-content: space-between;
}
.content-align-center {
    align-items: center;
}
.content-wrap {
    flex-wrap: wrap;
}
/* ITEM */
.row-item {
    flex: auto;
}
.row-item-10{
    flex: 10%;
}
.row-item-20{
    flex: 20%;
}
.row-item-40{
    flex: 20%;
}
.row-item-50{
    flex: 50%;
}
.row-item-60{
    flex: 60%;
}
.row-item-80{
    flex: 80%;
}
.column-item{
    flex: auto;
}
.full-height{
    height: 100%;
}
/*** STYLES ***/
/* COLOR */ /*
.color-200 {
    color: rgb(200,200,200);
}
.color-100 {
    color: rgb(100,100,100);
}
.color-190 {
    color: rgb(190,190,190);
}

.color-30 {
    color: rgb(30,30,30);
}
.color-40 {
    color: rgb(40,40,40);
}
.color-50 {
    color: rgb(50,50,50);
}*/
/* BG COLOR */ /*
.bgdark {
    background-color: rgb(50,50,50);
}
.bglight {
    background-color: rgb(100,100,100);
}*/
/* TEXT */ 
/* Material text 
.text-hl-5 {
    font-weight: 400 !important;
    font-size: 24 !important;
    letter-spacing: 0 !important;
}
.text-hl-6 {
    font-weight: 500 !important;
    font-size: 20 !important;
    letter-spacing: 0.15 !important;
}
.text-subtitle-1 {
    font-size: 16 !important;
    letter-spacing: 0.15 !important;
}
.text-subtitle-2 {
    font-weight: 500 !important;
    font-size: 14 !important;
    letter-spacing: 0.1 !important;
}*/
.text-center {
    text-align: center;
}
.bolder-400 {
    font-weight: 400;
}
.bolder-500 {
    font-weight: 500;
}
.bolder-600 {
    font-weight: 600;
}
/* MARGIN */
.m-reset {
    margin: 0 !important;
}
.mt1{
    margin: 1em 0 0 0 !important;
}
.mt-1 {
    margin: 1em 0 0 0 !important;
}
.mb-1 {
    margin: 0 0 1em 0 !important;
}
.ml-1 {
    margin: 0 0 0 1em !important;
}
.mr-1 {
    margin: 0 1em 0 0 !important;
}
/* PADDING */ 
.pall-1{
    padding: 1em !important;
}
.ptb-1 {
    padding: 1em 0 !important;    
}
.pt-1 {
    padding: 1em 0 0 0 !important;
}
.pr-1 {
    padding: 0 1em 0 0 !important;
}
.pb-1 {
    padding: 0 0 1em 0 !important;
}
.pl-1 {
    padding: 0 0 0 1em !important;
}