<mat-card>
    <mat-card-title>
        <mat-icon >create</mat-icon>TASK LIST
    </mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
    <mat-card-content>
        <div class="container-column">
            <span class="text-size1 bolder-600">
                <mat-icon class="text-size1 ">check_box_outline_blank
                </mat-icon> Implementar resposive
            </span>
            <span class="text-size1 bolder-600">
                <mat-icon class="text-size1">check_box_outline_blank
                </mat-icon> Implementar resposive
            </span>
            <span class="text-size1 bolder-600">
                <mat-icon class="text-size1">check_box_outline_blank
                </mat-icon> Implementar resposive
            </span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>ACTION</button>
    </mat-card-actions>
</mat-card>